.filter-param h3 {
  margin: auto;
}
.filter-param .hidden {
  display: none;
}
.filter-param, .filter-param *, .filter-items {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 14px;
}
.filter-param .ui-tabs {
  border: none;
}
.filter-param .collapse {
  position: absolute;
  right: 1em;
  top: 5px;
}
.filter-items li {
  margin-bottom: .5em;
  margin-left: 2px;
}
.filter-param .expanded .ui-tabs-panel {
  padding: 0;
}
.range-filter .table tr {
  display: inline-block;
}
.range-filter {
  position: relative;
  padding: 1em 0;
}
.chart {
  width: 100%;
  height: 200px;
}
.chart-tooltip {
  display: none;
  position: absolute;
  background: black;
  color: white;
  font-size: 90%;
  border: 2px solid black;
  border-radius: 4px;
  box-shadow: #DDD 1px 1px;
  padding: 2px 4px;
}
.chart-title {
  color: #666;
}
.chart-title.x-axis {
  text-align: center;
}
.chart-title.y-axis {
  position: absolute;
  left: -3.5em;
  bottom: 8em;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  transform: rotate(-90deg);
}
.field-list, .field-detail {
  float: left;
  min-height: 25em;
  padding-top: 20px;
}
.field-list {
  width: 20%;
  padding-left: 10px;
  /*background: #fafafa;*/
}
.field-list li a {
  display: block;
  padding: 5px 10px;
  /*border-radius: 4px;*/
  border-left: 2px solid transparent;
  text-decoration: none;
}
.field-list li a:hover {
  /*background-color: #eee;*/
  border-left: 2px solid;
}
.field-list li.active a {
  background-color: #f7f7f7;
  border-left: 2px solid;
}
.field-detail {
  width: 80%;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 3em;
  position: relative;
}
.field-detail h4 {
  margin-top: 4em;
}
.field-detail .apply-filter {
  text-align: right;
  padding: 1em 0;
}
/* Bars-based view */
/*
.membership-filter .member {
  position: relative;
  margin: 1em;
  height: 2.5em;
  cursor: pointer;
  text-shadow: 0 1px 1px rgba(128, 128, 128, .5);
  width: 85%;
}
.membership-filter .member:hover {
  background-color: #f6f6f6;
}
.membership-filter .member .fill {
  width: 100%;
  position: absolute;
  color: white;
  background-color: #e9e9e9;
  display: inline-block;
  height: 2.5em;
}
.membership-filter .member.selected .fill {
  background-color: rgb(189, 217, 240);
}
.membership-filter .fill.filtered,
.membership-filter .member.selected .fill.filtered {
  background-color: #DA7272;
  background-color: #E99292;
}
.membership-filter .member .value {
  padding: 0 .5em;
  line-height: 2.5em;
  z-index: 1;
  position: relative;
  max-width: 75%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.membership-filter .member .count {
  position: absolute;
  right: -15%;
  top: 6px;
  z-index: 1;
}
.membership-filter .member.selected .count,
.membership-filter .member.selected .value {
  font-weight: 500;
}
.membership-filter .member.selected .percent {
  font-weight: normal;
}
*/

/* condensed view */
.membership-filter .text,
.membership-filter .distribution {
  display: inline-block;
}
.membership-filter .text {
  width: 50%;
}
.membership-filter .distribution {
  width: 9%;
}
.filter-param .bar {
  width: 100%;
}
.filter-param table {
  width: 100%;
}

.membership-filter .member {
  margin: .4em 0;
  height: 1em;
}
.membership-filter input[name="value"] {
  margin-right: .4em;
}
.membership-filter .member:hover td {
  background-color: #f6f6f6;
}
.membership-filter .member td {
  padding: 0 .4em;
}
.membership-filter .member td:first-child {
  width: 2em;
}
.membership-filter .member td:nth-child(2) {
  width: 30%;
}
.membership-filter .member td:last-child {
  width: 50%;
  padding-right: 0;
}
.membership-filter label {
  width: 100%;
  font-weight: normal;
}
.membership-filter .value {
  min-width: 8em;
  width: 100%;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  vertical-align: top;
}
.membership-filter .frequency {
  width: 3em;
  display: inline-block;
}
.filter-param .bar {
  background-color: #f6f6f6;
  position: relative;
}
.filter-param .bar .fill {
  color: white;
  background-color: #dadada;
  height: 1em;
  position: absolute;
  top: -.5em;
}
.filter-param .fill.filtered {
  background-color: #DA7272;
}
.filter-param .legend {
  text-align: right;
  width: 100%;
  padding: 1em 2em;
  bottom: 0;
  right: 0;
  position: absolute;
  color: #666666;
}
.filter-param .legend .bar {
  display: inline-block;
  top: 7px;
  vertical-align: text-top;
  margin-left: 1em;
}
.membership-filter .member.selected td {
  font-weight: bold;
  /*background-color: #66A4E7;*/
}
.results {
  padding: 1em;
}
.results .table td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.overview dt, .overview dd {
  float: left;
}
.overview dt {
  padding-right: .4em;
}
.overview dd {
  padding-right: .8em;
}
.filters, .results {
  /*
  margin: auto;
  border: 1px solid #aaa;
  width: 110%;
  left: -25%;
  top: 1em;
  margin-bottom: 1em;
  position: relative;
  */
}
#applied-filters {
  text-align: center;
  min-height: 2em;
}
.filter-items li {
  display: inline-block;
}
.filter-items li {
  margin-right: .5em;
}
.filter-items li > div {
  padding: 2px 4px;
  background-color: #efefef;
  border: 1px solid #ccc;
}
.filter-items .remove {
  display: inline-block;
  vertical-align: text-bottom;
  cursor: pointer;
  font-size: 20px;
  padding-left: 4px;
  opacity: .4;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}
.filter-items .remove:hover {
  opacity: 1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.summary ul, .summary li {
  display: inline-block;
}
.filter-param .summary {
  margin-top: 4px;
}
/*
.summary ul li:not(.hidden)+li:not(.hidden):before {
content: "|";
padding: 0 2px;
}
 */
