/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 DataTables sorting 
*/
.dataTables_length, .dataTables_filter, .dataTables_info, .dataTables_paginate {
    display: inline;
 //   margin-left: 3px;
 //   padding-bottom: 3px;
}
.dataTables_filter, .dataTables_paginate {
//    border-left: 2px solid #FFFFFF;
    margin-left: 10px;
    padding-left: 10px;
}

table.datatables th, table.datatables td {
//  border-left: 1px dotted #CCCCCC;
//  border-right: 1px dotted #CCCCCC;
}
table.datatables th {
	font-weight:bold;
}

table.datatables thead th.sortable {
  cursor: pointer;
}
table.datatables thead th div.DataTables_sort_wrapper {
  position: relative;
  padding-right: 20px;
  padding-right: 20px;
}
table.datatables thead th div.DataTables_sort_wrapper span {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  right: 0;
}
table.datatables td { border-bottom: 1px dotted #CCCCCC; }
table.datatables tr.odd { background-color: #EEEEFF; }
table.datatables tr.even { background-color: #FFFFFF; }



.ui-widget-header {
    padding:3px;
    font-weight:normal;
}

