.UserDataset-SharingModal {
  background-color: white;
  color: black;
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  min-width: 500px;
  hr {
    margin: 20px 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
}

.SharingModal-Close {
  align-self: flex-end;
  &:hover {
    color: firebrick;
  }
}
