/* WDK filter related styles */

.filter-layout .layout-info > .handle {
    cursor: pointer;
}

.filter-layout .layout-info .display {
    font-weight: bold;
}

.filter-layout .layout-detail .description {
    color: #333333;
}

.filter-instance {

}

.filter-instance .current {
    backgroun-color: yellow;
}

.filter-instance .count-url {
    display: none;
}

.filter-instance .link-url {
    font-size: 2pt;
}

.filter-instance .instance-detail {
    display: none;
    overflow: visible;
    postion: absolue;
}