.Cell {
  display: inline-block;
}

.Checkbox {
  display: inline-block;
  &.Checkbox-Checked {
    color: #458ed9;
  }
  &.Checkbox-Unchecked {
    color: #acacac;
  }
}

.ColumnEditor {
  .ColumnEditor-List {
    margin: 10px auto;
    padding: 0;
    list-style: none;
    line-height: 140%;

    .ColumnEditor-List-Item {
      font-size: 0.9em;
      .icon {
        margin-right: 15px;
      }
    }
  }
}

.Modal-Wrapper {
  position: relative;

  .Modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101010;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.15);
    transition: all 0.5s;

    opacity: 0;
    pointer-events: none;

    &.Modal-Open {
      opacity: 1;
      pointer-events: all;
    }

    .Modal-Body {
      flex: 0 0 auto;
      padding: 2rem;
      background: white;
      box-shadow: 0px 0px 10% black;
    }
  }
}

.Trigger {
  margin: 0 0.5em;
  transition: all 0.4s;
  cursor: pointer;
  display: inline-block;
  color: $accentColor;
  &.inactive {
    color: black;
    opacity: 0.2;
  }
  &:hover {
    tramsform: scale(1.1);
  }
}

.FilterMenu {
  display: block;
  border: 1px solid $borderColor;
  position: absolute;
  top: 90%;
  width: 220px;
  text-align: left;
  font-weight: 400;
  z-index: 3000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  left: calc(50% - 110px);
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;

  &:before {
    content: ' ';
    display: block;
    position: absolute;
    top: -20px;
    left: calc(50% - 12.5px);
    border: 10px solid #bbb;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
  }
}

.FilterMenu-CheckList {
  width: 100%;
  display: block;
  text-align: left;
  margin: 10px 0 0;
  div {
    display: block;
    transition: all 0.4s;
    cursor: pointer;
    margin: 10px 0 0;
    &:hover {
      color: $accentColor;
    }
  }
  .icon {
    margin-right: 5px;
  }
}

.Table-Toolbar {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
  align-items: center;

  h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding-right: 30px;
  }

  button {
    margin: 10px;
    padding: 10px;
    .icon {
      margin-right: 10px;
    }
  }
}

.TableSearch {
  flex: 1;
  display: flex;
  align-items: center;

  .icon {
    margin-right: 10px;
    margin-bottom: 2px;
  }
  input {
    flex: 1;
    border: 1px solid $borderColor;
    padding: 7px;
    border-radius: 3px;
    background: transparent;
  }
}

.TruncatedText {
  button.TruncatedText-Toggle {
    margin: 10px auto;
    .icon {
      margin-left: 5px;
    }
  }
}
