<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Jasmine Spec Runner v2.0.0</title>

  <link rel="shortcut icon" type="image/png" href="../lib/jasmine-2.0.0/jasmine_favicon.png">
  <link rel="stylesheet" type="text/css" href="../lib/jasmine-2.0.0/jasmine.css">

  <script src="../lib/jasmine-2.0.0/jasmine.js"></script>
  <script src="../lib/jasmine-2.0.0/jasmine-html.js"></script>
  <script src="../lib/jasmine-2.0.0/boot.js"></script>

  <!-- include wdk libs and src files -->
  <script>
    var wdkConfig = {
      assetsUrl: '../dist'
    }
  </script>
  <script src="../dist/wdk/wdk.libs.js"></script>
  <script src="../dist/wdk/wdk.js"></script>

  <!-- include spec files here... -->
  <script src="core/c_properties.js"></script>
  <script src="core/base_object.js"></script>
  <script src="core/container.js"></script>
  <script src="core/runloop.js"></script>
  <script src="core/application.js"></script>

  <script src="addStepPopup.js"></script>

</head>

<body>
</body>
</html>
