.Tooltip-Text {
  overflow: visible;
  display: inline-block;
  padding: 5px;
  background-color: #FFF;
  font-weight: normal;
  color: black;
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
