.Tooltip-Content {
  overflow: visible;
  display: inline-block;
  padding: 8px;
  background-color: hsl(50, 100%, 96%);
  font-weight: normal;
  color: black;
  border-radius: 4px;
  text-align: left;
  max-width: 550px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
