<?xml version="1.0" ?>
<web-app version="2.4" 
         xmlns="http://java.sun.com/xml/ns/j2ee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
                             http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <display-name>Sample GUS WebApp</display-name>
  <description>
    This is a simple webapp to demonstrate the new GUS WebDevKit (WDK).
  </description>
 
 
  <context-param>
    <param-name>loginConfig</param-name>
    <param-value>/nfs/team81/art/gus/gus_home/lib/xml/modelConfig.xml</param-value>
  </context-param>
    <context-param>
    <param-name>querySetConfig</param-name>
   <!-- <param-value>/nfs/team81/art/gus/gus_home/lib/xml/PSUSampleQuerySet.xml</param-value> -->
        <param-value>/nfs/team81/art/gus/gus_home/lib/xml/psuNew.xml</param-value>
  </context-param>
<!--    <context-param>
    <param-name>recordSetConfig</param-name>
    <param-value>/nfs/team81/art/gus/gus_home/lib/xml/PSUSampleRecordSet.xml</param-value>
  </context-param> -->
  <context-param>
    <param-name>schemaLocation</param-name>
    <param-value>/nfs/team81/art/gus/gus_home/lib/xml/schema.rng</param-value>
  </context-param>
  <listener>
    <listener-class>org.gusdb.gus.wdk.controller.ApplicationInitListener</listener-class>
  </listener>
  
  
  <servlet>
    <servlet-name>RecordTester</servlet-name>
    <display-name>RecordTester</display-name>
    <description>A servlet that tests the Records part of the model</description>
    <servlet-class>org.gusdb.gus.wdk.controller.servlets.RecordTesterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InteractiveRecordList</servlet-name>
    <display-name>InteractiveRecordList</display-name>
    <description>A servlet that cooperates with the query tags to fill them out.</description>
    <servlet-class>org.gusdb.gus.wdk.controller.servlets.InteractiveRecordListServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>RecordTester</servlet-name>
    <url-pattern>/RecordTester</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InteractiveRecordList</servlet-name>
    <url-pattern>/InteractiveRecordList</url-pattern>
  </servlet-mapping> 
  
</web-app> 