<?xml version="1.0" ?>
<web-app version="2.4" 
         xmlns="http://java.sun.com/xml/ns/j2ee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
                             http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <display-name>Sample GUS WebApp</display-name>
  <description>
    This is a simple webapp to demonstrate the new GUS WebDevKit (WDK).
  </description>
 
  <context-param>
    <param-name>loggingFileLocation</param-name>
    <param-value>/usr/local/tomcat/5.0.24/logs/wdk.log</param-value>
  </context-param>
  <context-param>
    <param-name>loginConfig</param-name>
    <param-value>/WEB-INF/wdk-config/modelConfig.xml</param-value>
  </context-param>
  <context-param>
    <param-name>propsFileLocation</param-name>
    <param-value>/WEB-INF/wdk-config/sampleModel.prop</param-value>
  </context-param>
  <context-param>
    <param-name>querySetConfig</param-name>
    <param-value>/WEB-INF/wdk-config/toyModel.xml</param-value>
  </context-param>
  <context-param>
    <param-name>schemaLocation</param-name>
    <param-value>/WEB-INF/wdk-config/wdkModel.rng</param-value>
  </context-param>
  <listener>
    <listener-class>org.gusdb.gus.wdk.controller.ApplicationInitListener</listener-class>
  </listener>
  
  
  <servlet>
    <servlet-name>ViewFullRecord</servlet-name>
    <display-name>ViewFullRecord</display-name>
    <description>A servlet that tests the Records part of the model</description>
    <servlet-class>org.gusdb.gus.wdk.controller.servlets.ViewFullRecordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InteractiveRecordList</servlet-name>
    <display-name>InteractiveRecordList</display-name>
    <description>A servlet that cooperates with the query tags to fill them out.</description>
    <servlet-class>org.gusdb.gus.wdk.controller.servlets.InteractiveRecordListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModelAdmin</servlet-name>
    <display-name>ModelAdmin</display-name>
    <description>A servlet that displays and manages the cache.</description>
    <servlet-class>org.gusdb.gus.wdk.controller.servlets.ModelAdminServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CacheMgr</servlet-name>
    <display-name>CacheMgr</display-name>
    <description>A servlet that displays and manages the cache.</description>
    <servlet-class>org.gusdb.gus.wdk.controller.servlets.CacheMgrServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogMgr</servlet-name>
    <display-name>LogMgr</display-name>
    <description>A servlet that displays and manages the webapp logging.</description>
    <servlet-class>org.gusdb.gus.wdk.controller.servlets.LogMgrServlet</servlet-class>
  </servlet>
      
  <servlet-mapping>
    <servlet-name>ViewFullRecord</servlet-name>
    <url-pattern>/ViewFullRecord</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InteractiveRecordList</servlet-name>
    <url-pattern>/InteractiveRecordList</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
    <servlet-name>ModelAdmin</servlet-name>
    <url-pattern>/admin/ModelAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CacheMgr</servlet-name>
    <url-pattern>/admin/private/CacheMgr</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogMgr</servlet-name>
    <url-pattern>/admin/private/LogMgr</url-pattern>
  </servlet-mapping>  
</web-app> 
