{# $SourceFileURL$ #}
# Templated by Conifer using
# {{ template_path }}
# with vars from 
# Cohort: {{ cohort }}
# Project: {{ project }}
# Environment: {{ env|default() }}
# site_vars file: {{ site_vars }}

{% if modelprop is defined -%}
{% for prop, value in modelprop|dictsort() %}
{{ prop }}={{ value }}
{% endfor %}
{% endif -%}
