<Context path="/wdktemplate"
          docBase="/www/wdktemplate/webapp"
          debug="1"
          privileged="false" allowLinking="true" crossContext="true">
    <Logger className="org.apache.catalina.logger.FileLogger"
          prefix="wdktemplate."
          suffix=".txt"
          timestamp="true"
          docBase="/www/wdktemplate/logs" />
</Context>
