<Context path="/<webappName>"
          docBase="<baseDirectory>/webapp"
          privileged="false"
          swallowOutput="true"
          allowLinking="true">

          <Parameter name="model" value="<modelName>"/>

          <Logger className="org.apache.catalina.logger.FileLogger"
                prefix="<webappName>."
                suffix=".txt"
                timestamp="true"
                docBase="<baseDirectory>/logs" />
</Context>
