.TableSearch {
  flex: 1;
  display: flex;
  padding: 5px;
  align-items: center;

  .icon {
    margin-right: 10px;
    margin-bottom: 2px;
  }
  input {
    flex: 1;
    border: 1px solid $borderColor;
    padding: 7px;
    border-radius: 3px;
    background: transparent;
  }
}
