BODY {
	background: white;
	color: black;
}

H1 { color: #ec0a0c }

EM {
    color: red;
	font-style: italic
}

HR {
   border: 1px solid #f00;
   color: maroon;
   background-color: #fcd624;
   height: 4px;
}

tr.rowLight {
	
}

tr.rowDark {
	background-color: #fcd624;
}

.footer {font-family:Arial, helvetica, sans-serif; font-size:11pt; color:#060606; font-style: italic}
