<div class="legend">
  <div>
    <div class="bar" style="width:20px"><div class="fill" style="width:100%"></div></div>
    <div class="label">All {{options.title}}</div>
  </div>
  <div>
    <div class="bar" style="width:20px"><div class="fill filtered" style="width:100%"></div></div>
    <div class="label">% {{options.title}} from <em>other</em> selected options</div>
  </div>
</div>
