<h3>Get started by choosing a filter in the panel at left</h3>

<p style="width:60%;">Each filter will display a graphical distribution of the {{title}} of the property
throughout the data set. You can narrow your selection of {{title}} by interacting
with the charts that are displayed in this space.</p>
