<!-- <input type="text"/ placeholder="Find properties by name"> -->
<div class="toggle-links">
  {{#if showExpand }}
  <a href="#expand">expand all</a> | <a href="#collapse">collapse all</a>
  {{/if}}
</div>
<ul role="tree">
{{#each nodes}}
  {{#if children}}
  <li>
    <h4 role="treeitem" class="link collapsed">{{field.display}}</h4>
    <div> {{> field_node}} </div>
  </li>
  {{else}}
  <li>
    <a role="treeitem" href="#{{field.term}}">{{field.display}}</a>
  </li>
  {{/if}}
{{/each}}
</ul>
