<!-- <input type="text"/ placeholder="Find properties by name"> -->
<a href="#expand">Expand all</a> | <a href="#collapse">Collapse all</a>
<ul>
{{#each this}}
  {{#if children}}
  <li>
    <h4 class="collapsed">{{field.display}}</h4>
    <div> {{> field_node}} </div>
  </li>
  {{else}}
  <li>
    <a href="#{{field.term}}">{{field.display}}</a>
  </li>
  {{/if}}
{{/each}}
</ul>
