<!-- <input type="text"/ placeholder="Find properties by name"> -->
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="#expand">Expand all</a> | <a href="#collapse">Collapse all</a>
{{#each this}}
{{#if children}}
  <h4 class="collapsed">{{field.display}}</h4>
  <div style="display:none">
    {{> field_node}}
  </div>
  {{/if}}
{{/each}}
