<div class="collapse-wrapper">
  <a href="#collapse" data-action="collapse">Collapse</a>
</div>

<div class="tabs">
  <ul>
    <li><a href="#select">Select {{title}}</a></li>
    <li><a href="#results">View selection
      (<span class="count">{{filterService.filteredData.length}}</span>)
    </a></li>
  </ul>

  <div id="select"> </div>

  <div id="results"> </div>
</div>
