<div class="filter-items"></div>
<div class="summary">
  <span class="count"></span> {{title}} selected.
  <ul>
    <li><a href="#filters">Update filters</a> |</li>
    <li><a href="#results">Show {{title}}</a> |</li>
    <li><a href="#hide">Hide window</a></li>
  </ul>
</div>

<div class="filters context clearfix"> </div>
<div class="results context clearfix"> </div>
