<div class="collapse"><a href="#collapse">Collapse</a></div>
<ul>
  <li><a href="#select">Select {{attributes.title}}</a></li>
  <li><a href="#results">View {{attributes.title}} (<span class="count">{{filteredData.length}}</span>)</a></li>
</ul>

<div id="select"> </div>

<div id="results"> </div>
