<div class="membership-filter">

  <div class="description">
    <p>{{field.description}}</p>
    <div class="read-more">
      <a href="#read-more">read more</a>
    </div>
  </div>

  <table> <tbody></tbody> </table>

</div>
