<table class="results-table" width="100%">
  <thead>
    <tr>
      <th class="display">Name</th>
      {{#each fields}}
        <th class="{{term}}">{{display}}</td>
      {{/each}}
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>
