/* Vars -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
@gray: #ccc;
@white: #fdfdfd;
@lightgray: #eaeaea;
@blue: #069;
@red: #cb2b39;
@green: #558e0c;
@gold: #fbb731;
@orange: #ee6f13;
@darkblue: #04255e;
