<?xml version="1.0"?>

<modelConfig 
        modelName="sampleModel"
        login="yourLogin"
        password="yourPassword"
        connectionUrl="your_postgresql_jdbc_connection"
        webServiceUrl="http://your.webservice.server:port/yourWsWebApp/services/WsfService"
        platformClass="org.gusdb.wdk.model.implementation.PostgreSQL"
        initialSize="3"
        maxActive="20"
        maxIdle="3"
        minIdle="3"
        maxWait="500"
        authenticationLogin="yourAuthenticationDBLogin"
        authenticationPassword="yourAuthenticationDBPassword"
        authenticationConnectionUrl="yourLoginServerConnectionString"
        authenticationPlatformClass="org.gusdb.wdk.model.implementation.Oracle"
        loginSchema="logins."
        defaultRole="wdk_user"
        smtpServer="127.0.0.1"
        enableQueryLogger="true"
        queryLoggerFile="full_path_plasmodb.log"
        supportEmail="register@plasmodb.org">
            <emailSubject>
                 <![CDATA[
                     Your PlasmoDB Password
                 ]]>
            </emailSubject>
            <emailContent>
                 <![CDATA[
                     <p>Thank you for registering at PlasmoDB.</p>
                     <p>Your temporary password is: $$PASSWORD$$</p>
                     <p>You may now login to <a href="http://plasmodb.org">PlasmoDB</a>.</p>
                     <p>Thanks,</p>
                     <p>PlasmoDB</p>
                 ]]>
            </emailContent>

</modelConfig>
