.DataTable {
  max-width: 100vw;
  overflow-x: auto;
  overflow-y: visible;
  font-size: $fontSize;
  width: 100%;
  table {
    width: 100%;
  }
  .DataTable-Sticky {
    display: block;
    width: 100%;
    overflow-x: auto;
    overflow-y: visible;
    border:1px solid orange;
    .DataTable-Header, .DataTable-Body {
      display: block;
      width: 100%;
      overflow-x: visible;
      overflow-y: auto;
      table {
        table-layout: fixed;
        width: 100%;
      }
    }
    .DataTable-Body {
      border: 1px solid green;
    }
    .DataTable-Header {
      border: 1px solid pink;
    }
  }
}
