.DataTable {
  max-width: 100vw;
  overflow-x: auto;
  overflow-y: visible;
  font-size: $fontSize;
  width: 100%;
  table {
    width: 100%;
  }
  .DataTable-Header, .DataTable-Body {
    display: block;
    table {
      table-layout: fixed;
      width: 100%;
    }
  }
  .DataTable-Body {
    overflow-x: auto;
  }
}
