@import '~Core/Style/palette';

.UserDatasetList-Controller {
  .UserDatasetList-Title {
    font-weight: 200;
  }
  .UserDatasetList-Content {
    .StatusColumn {
      .wdk-Icon {
        font-size: 20px;
        &.fa-check-circle { color: $green; }
        &.fa-times-circle { color: $red; }
        &.fa-exclamation-circle { color: $gold; }
      }
    }
  }

  .UserDatasetList-NotLoggedIn {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    p {
      font-size: 1.3em;
      font-weight: 300;
    }
    .wdk-Icon {
      font-size: 60px;
      margin: 5px auto;
      opacity: 0.3;
    }
  }
}
