<ul>
  {{#each children}}
  <li data-description="{{field.description}}">
    {{#if children}}
    <h4 role="treeitem" class="link collapsed">{{field.display}}</h4>
    <div> {{> field_node}} </div>
    {{else}}
    <div role="treeitem"> {{{fieldTemplate field}}} </div>
    {{/if}}
  </li>
  {{/each}}
</ul>
