<div class="legend">
  <div>
    <div class="bar"><div class="fill"></div></div>
    <div class="label">All {{options.title}}</div>
  </div>
  <div>
    <div class="bar"><div class="fill filtered"></div></div>
    <div class="label">{{options.title}} remaining when <em>other</em> criteria have been applied.</div>
  </div>
</div>
