<div class="membership-filter">

  <h3>{{field.display}}</h3>

  {{#if field.description}}
    <div class="description">
      <p>{{field.description}}</p>
      <div class="read-more">
        <a href="#read-more">read more</a>
      </div>
    </div>
  {{/if}}


  <div class="membership-table-panel">
    <table>
      <thead>
        <tr>
          <th colspan="2">
            <div class="toggle-links">
              <a href="#select-all">select all</a> | <a href="#clear-all">clear all</a>
            </div>
          </th>
          <th colspan="3">{{options.title}}</th></tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>

</div>

{{> field_detail_legend}}
