<td class="display">
  <label>
    <input data-action="toggleIgnored" type="checkbox" value="{{item.term}}" {{#unless item.ignored }}checked{{/unless}}/>
    {{item.display}}
  </label>
</td>

{{#each fields}}
  <td class="{{term}}">{{property term ../item/metadata}}</td>
{{/each}}
