.Tooltip {
  position: relative;
  .Tooltip-Text {
    position:absolute;
    top: 100%;
    left: 100%;
    display: block;
    padding: 5px;
    background-color: #FFF;
    border-radius: 3px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
}
