
/* Enclosing div for checkbox tree */
.wdk-CheckboxTree {
  padding: 0.2em;
}

.wdk-CheckboxTree-searchBoxEnabled, .wdk-CheckboxTree-searchBoxDisabled {
  padding: 1.0em 0 0 1.6em;
}

.wdk-CheckboxTree-searchBoxEnabled input, .wdk-CheckboxTree-searchBoxDisabled input {
  width: 20em;
  vertical-align: middle;
}

/** Lighten search box placeholder */
.wdk-CheckboxTree-searchBoxEnabled input::-webkit-input-placeholder { color:#888; }
.wdk-CheckboxTree-searchBoxDisabled input::-webkit-input-placeholder { color:#888; }
.wdk-CheckboxTree-searchBoxEnabled input::-moz-placeholder { color:#888; }
.wdk-CheckboxTree-searchBoxDisabled input::-moz-placeholder { color:#888; }
.wdk-CheckboxTree-searchBoxEnabled input:-ms-input-placeholder { color:#888; }
.wdk-CheckboxTree-searchBoxDisabled input:-ms-input-placeholder { color:#888; }
.wdk-CheckboxTree-searchBoxEnabled input:-moz-placeholder { color:#888; }
.wdk-CheckboxTree-searchBoxDisabled input:-moz-placeholder { color:#888; }

.wdk-CheckboxTree-searchBoxEnabled i, .wdk-CheckboxTree-searchBoxDisabled i {
  margin-left: -1.5em;
  cursor:pointer;
}

.wdk-CheckboxTree-searchBoxEnabled i {
  color: #CCC;
}

.wdk-CheckboxTree > ul {
  margin-top: 0.5em;
}

.wdk-CheckboxTree-list {
  margin-left: 2.3em;
}

.wdk-CheckboxTree-accordionButton {
  cursor: pointer;
  margin-right: -0.5em;
}

.wdk-CheckboxTree-list li label {
  line-height: 15px;
  cursor: default;
  white-space:nowrap;
}

.wdk-CheckboxTree-list li label input {
  margin-left: 0px;
}

.wdk-CheckboxTree-list li label span {
  padding-left: 0.2em;
}

.wdk-CheckboxTree-expandedItem {
  position:relative;
}

/* Provdes vertical lines between vertically aligned checkboxes */
.wdk-CheckboxTree-expandedItem:after {
  content:"";
  position:absolute;
  top:20px;
  left:-5px;
  right:0;
  bottom:0;
  width: 5px;
  background:url("../images/checkboxTree-vertical-line.png") repeat-y;
}

.wdk-CheckboxTree-expandedItem:last-of-type:after {
  background: none;
}

/* Modifies size and color of accordion (expand/collapse) icon */
.wdk-CheckboxTree-list i {
  color: #AAA;
  font-size: 14px;
  /* Attempt to center arrow vertically with checkbox */
  line-height: 10px;
  left: -1.4em;
  width: 1.0em;
}

.wdk-CheckboxTree-links {
  text-align: center;
  font-size: 0.9em;
}