.dyk {
	/*display: none;*/
	position: absolute;
	width:417px;
	height:87px;
	top:200px;
	left:313px;
}
#dyk-box,#dyk-shadow{
  height: 100%;
	z-index:98;
	border:1px solid #888888;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;
}

div#dyk-box{
	background-color:#FFFFFF;
}

div#dyk-shadow{
  position: absolute;
	background-color:#000000;
	opacity:0.2;
	left:4px;
	top:6px;
  width: 100%;
	z-index:97;
}


div#dyk-box div#dyk-text{
	background-color:#FFFFFF;
	height:39px;
	margin:18px 0 10px;
	width:100%;
	padding-top: 1px;
}

div#dyk-box div#closing-items{
	bottom:1px;
	position:absolute;
	right:16px;
}

div#dyk-box ul.tip-box{
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	background-color:#F0F0F0;
	bottom:0;
	padding:2px 0 2px;
	position:absolute;
	width:100%;
}

div#dyk-box ul.tip-box li{
	float:left;
	padding:0 2px;
}

div#dyk-box ul.tip-box li input{
	width: 87px;
}

div#dyk-box div.dragHandle span#dyk-count{
	float:right;
	font-size:8pt;
	font-weight:bold;
	margin:0 7px 0 0;
}
