.wdk-DataTable {
  border: 1px solid #d8d8d8;
  background-color: #fdfdfd;
}

.wdk-DataTableContainer .dataTables_filter {
  display: block;
  padding: .4em 0;
  margin: 0;
}

.wdk-DataTableContainer .dataTables_filter input {
  padding: 4px;
  width: 200px;
  transition: width 250ms ease;
}

.wdk-DataTableContainer .dataTables_filter input:focus {
  width: 300px;
}

.wdk-DataTableContainer .dataTables_scroll {
  border-bottom: 1px solid lightgrey;
}

.wdk-DataTable th {
  background-color: #f2f2f2;
  border: 1px solid #d8d8d8;
  padding: .6em;
}

.wdk-DataTable td {
  background-color: white;
  border: 1px solid #d8d8d8;
  word-break: break-word;
  padding: 6px 8px;
}

.wdk-DataTable .wdk-DataTableCell__childRowToggle {
  vertical-align: middle;
  width: 3em;
  padding: 0;
}

.wdk-DataTableCellExpand {
  width: 3em;
  padding: 0;
  border: none;
  line-height: 2;
  background: transparent;
}

.wdk-DataTableCellExpand:before {
  font-family: FontAwesome;
  content: "\f0da"; /* caret-right */
  font-size: 1.2em;
  text-align: center;
  display: block;
}

.wdk-DataTableRow__expanded .wdk-DataTableCellExpand:before {
  content: "\f0d7"; /* caret-down */
  color: initial;
}

.wdk-DataTableRow__expanded td.wdk-DataTableCell {
  background-color: #f9f9f9;
  font-weight: bold;
}

/** DataTables and FontAwesome integration **/

.wdk-DataTableContainer table.dataTable thead th {
  background-image: none !important;
  background-clip: padding-box; /** prevent Firefox from painting over cell borders **/
}

.wdk-DataTableContainer table.dataTable thead th.sorting,
.wdk-DataTableContainer table.dataTable thead th.sorting_asc,
.wdk-DataTableContainer table.dataTable thead th.sorting_desc {
  cursor: pointer;
}

.wdk-DataTableContainer table.dataTable thead th.sorting:after,
.wdk-DataTableContainer table.dataTable thead th.sorting_asc:after,
.wdk-DataTableContainer table.dataTable thead th.sorting_desc:after {
  font-family: FontAwesome;
  padding-left: 8px;
  white-space: nowrap;
}
.wdk-DataTableContainer table.dataTable thead th.sorting:after {
  content: "\f175\f176";
  color: #ccc;
  padding-top: 0.12em;
}
.wdk-DataTableContainer table.dataTable thead th.sorting_asc:after {
  content: "\f160";
}
.wdk-DataTableContainer table.dataTable thead th.sorting_desc:after {
  content: "\f161";
}

.wdk-DataTableContainer .dataTables_scrollBody table.dataTable thead th:after {
  content: "" !important;
}

.wdk-DataTableContainer .dataTables_info {
  display: block;
  padding: 4px;
}
