.wdk-UserDatasetHeading {
  padding-top: 10px;
  padding-bottom: 10px;
}

.wdk-UserDatasetOverviewItem {
  margin: .2em 0;
}

.wdk-UserDatasetOverviewItemPrompt {
  font-weight: bold;
}

.wdk-UserDatasetOverviewItemPrompt, .wdk-UserDatasetOverviewItemText {
  display: inline-block;
}

.wdk-UserDatasetDescription {
  font-size: 1.2em;
}

.wdk-UserDatasetSectionHeading {
  font-size: 1.6em;
  padding-top: 20px;
}
