.wdk-RecordList {
  position: relative;
  overflow: auto;
  background: #eaeaea;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.wdk-RecordList-Record {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.28);
  background: white;
  margin: 2em 1em;
  padding: .5em;
  word-wrap: break-word;
}
