i.edit {
  font-size: 0.5em;
  cursor: pointer;
  margin-left: 0.5em;
}

.wdk-UserProfile-profileForm fieldset {
  margin-bottom: 2em;
  display: inline;
}

.wdk-UserProfile-profileForm legend {
  font-size: 14px;
  font-weight: bold;
}

.wdk-UserProfile-profileForm i {
  color: red;
  font-size: 0.75em;
  margin-right: 0.4em;
}

.wdk-UserProfile-profileForm fieldset>div {
  padding: 0.3em;
}

.wdk-UserProfile-profileForm label {
  display: inline-block;
  width: 10em;
  font-weight: bold;
  padding-right: 1em;
  text-align:right;
}


.wdk-UserProfile-profileForm input[type='text|email'] {
  display: inline-block;
}

.wdk-UserProfile-profileForm  .wdk-CheckboxListItem {
  display: inline;
  line-height: 1.5em;
}

.wdk-UserProfile-profileForm  .wdk-CheckboxListItem label {
  text-align: left;
}

.wdk-UserProfile-profileForm  .wdk-CheckboxListItem:nth-child(6n):after {
  content: ' ';
  display: block;
}

.wdk-UserProfile-profileForm .wdk-CheckboxListItem input {
  margin-right: 0.5em;
}