.wdk-Alert {
  text-align: center;
}

.wdk-Alert .ui-dialog-title {
  width: 100%;
  font-size: 1.1em;
}

.wdk-Alert .ui-dialog-titlebar {
  background: none;
  border: none;
}

.wdk-Alert .ui-dialog-titlebar-close {
  display: none;
}

.wdk-Alert .ui-dialog-content {
  font-size: 1.1em;
}

.wdk-AlertButtons {
  padding-top: 1em;
  margin-top: 2em;
  border-top: 1px solid #ccc;
  text-align: right;
}

.wdk-AlertButtons button {
  min-width: 6em;
  display: inline-block;
  margin: 0 4px;
}
