.wdk-Dialog {
  padding: 0;
  border: 1px solid #999;
  box-shadow: 0 0 20px rgba(0,0,0,.4);
}

.wdk-Dialog:focus {
  outline: none;
}

.wdk-Dialog .ui-dialog-titlebar {
  border: none;
  font-size: 1.2em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: #eee;
  padding-top: 12px;
  padding-bottom: 12px;
}

.wdk-Dialog .ui-dialog-titlebar-close {
  background: transparent;
  border: none;
}
