.wdkAnswerLoading {
  position: absolute;
  left: 50%;
}

.wdk-Answer {
  position: relative;
}

.wdk-Answer-filter {
  position: relative;
  display: inline-block;
  margin-right: 1em;
}
.wdk-Answer-filterIcon {
  color: gray;
  position: relative;
  left: -20.5em;
}
.wdk-Answer-filterInput {
  padding: .5em;
  width: 30em;
  margin-right: 1em;
  border: 1px solid #888;
  background: #fafaf9;
}
.wdk-Answer-filterSelectFieldsIcon,
.wdk-Answer-filterSelectFieldsIcon:active,
.wdk-Answer-filterSelectFieldsIcon:focus,
.wdk-Answer-filterSelectFieldsIcon:hover,
.wdk-Answer-filterFieldSelectorCloseIcon,
.wdk-Answer-filterFieldSelectorCloseIcon:active,
.wdk-Answer-filterFieldSelectorCloseIcon:focus,
.wdk-Answer-filterFieldSelectorCloseIcon:hover {
  padding: .7em;
  border: 2px solid transparent;
  background: transparent;
}
.wdk-Answer-filterSelectFieldsIcon:hover,
.wdk-Answer-filterSelectFieldsIcon:focus,
.wdk-Answer-filterSelectFieldsIcon:active,
.wdk-Answer-filterFieldSelectorCloseIcon:active,
.wdk-Answer-filterFieldSelectorCloseIcon:focus,
.wdk-Answer-filterFieldSelectorCloseIcon:hover {
  color: black;
}
.wdk-Answer-filterSelectFieldsIcon {
  color: gray;
  position: absolute;
  right: 2.2em;
}
.wdk-Answer-filterFieldSelector {
  position: absolute;
  z-index: 2;
  background: white;
  width: 30em;
  padding: 0.6em;
  border: 1px solid #C3C3C3;
  box-shadow: 0px 1px 4px #c3c3c3;
}
.wdk-Answer-filterFieldSelectorCloseIcon {
  color: gray;
}
.wdk-Answer-filterFieldSelectorCloseIconWrapper {
  position: absolute;
  right: 0;
  top: 0;
}
.wdk-Answer-filterInfoIcon {
  color: blue;
}
.wdk-Answer-filterButton {
  border: none;
  background: transparent;
  color: #5F0F47;
  vertical-align: middle;
  padding: 6px;
}
.wdk-Answer-count {
  display: inline-block;
  margin-left: 1em;
}

.wdk-AnswerTable-Wrapper {
  position: relative;
  overflow-x: auto;
  padding: 0 5px 5px 0;
}

.wdk-AnswerTable {
  margin-top: 1em;
}

.wdk-AnswerTable-header {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: top;
}

.wdk-AnswerTable-headerWrapper {
  position: relative;
}

.wdk-AnswerTable-headerWrapper_sortable {
  cursor: pointer;
}

.wdk-AnswerTable th {
  white-space: nowrap;
}

.wdk-AnswerTable-AttributeSelectorOpenButton {
  position: absolute;
  right: 2em;
  top: 0;
  font-size:1.2em;
}
.wdk-AnswerTable-attributeValue {
  line-height: 1.6;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.wdk-AnswerTable-headerWrapper .ui-icon-close {
  /*visibility: hidden;*/
  cursor: pointer;
  float: right;
}

.wdk-AnswerTable-headerWrapper .ui-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: .5em;
}

.wdk-AnswerTable-headerWrapper .fa {
  margin-left: .5em;
}

.wdk-AnswerTable-unsorted {
  color: rgb(170, 170, 170);
  color: rgba(0, 0, 0, 0.26);
}

.wdk-AnswerTable-AttributeSelectorWrapper {
  float: right;
}

.wdk-AnswerTable-AttributeSelector {
  list-style: none;
}

.wdk-AnswerTable-AttributeSelectorButtonWrapper {
  text-align: center;
  padding: 4px;
}
