/* Enclosing div for checkbox tree */
.wdk-CheckboxTree {
  padding: 0.2em;
}


.wdk-CheckboxTreeList {
  margin: 0;
  list-style: none;
}

.wdk-CheckboxTree > .wdk-CheckboxTreeList {
  margin-top: 0.5em;
}

.wdk-CheckboxTreeItem {
  line-height: 15px;
  padding-left: 1.2em;
}

.wdk-CheckboxTreeItem__selectable {
  padding-left: 1.5em;
}

.wdk-CheckboxTreeItem .wdk-CheckboxTreeNodeWrapper:hover {
  cursor: pointer;
  text-decoration: underline;
}

.wdk-CheckboxTreeItem__leaf .wdk-CheckboxTreeNodeWrapper:hover,
.wdk-CheckboxTreeItem__selectable .wdk-CheckboxTreeNodeWrapper:hover {
  cursor: default;
  text-decoration: none;
}

.wdk-CheckboxTreeNodeWrapper {
  padding: 1px 0;
}

/* Provdes vertical lines between vertically aligned checkboxes */
/*
.wdk-CheckboxTreeItem__selectable.wdk-CheckboxTreeItem__expanded:after {
  content:"";
  position:absolute;
  top: 1.2em;
  left: 1.6em;
  right: 0;
  bottom: 0;
  width: 5px;
  background:url("../images/checkboxTree-vertical-line.png") repeat-y;
}

.wdk-CheckboxTreeItem__expanded:last-of-type:after {
  background: none;
}
*/

/* Modifies size and color of accordion (expand/collapse) icon */
.wdk-CheckboxTreeToggle {
  cursor: pointer;
  color: #AAA;
  font-size: 1.2em;
  position: absolute;
  width: 1.2em;
}

/*
.wdk-CheckboxTreeToggle__collapsed {
  left: 1.2em;
}

.wdk-CheckboxTreeToggle__expanded {
  left: 2px;
}
*/

.wdk-CheckboxTreeNodeContent {
  margin-left: 1em;
}

.wdk-CheckboxTreeLinks {
  text-align: left;
  font-size: 0.9em;
  margin: 0.5em auto;
  max-width: 25em;
}

.wdk-CheckboxTreeLinks > div {
  width: 100%;
  display: inline-block;
  text-align: center;
}
