/*
 * CSS libraries required by WDK
 *
 * This file gets minified to wdk.libs.min.css. It is recommended that
 * the minified file is included for production deployments
 */

@import 'normalize.css';
@import 'jquery-ui.css';
@import 'select2.css';
@import 'datatables.css';
@import 'dataTables.colVis.min.css';
@import 'jquery.qtip.min.css';
