/* apply a natural box layout model to all elements, but allowing components to change */
/* See http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
@import 'fixed-data-table.css';
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  font-size: 14px;
}

.wdkAnswerLoading {
  position: absolute;
  left: 50%;
}

.wdk-RecordTable-Wrapper {
  position: relative;
  overflow-x: auto;
  padding: 0 5px 5px 0;
}

.wdk-RecordTable {
  border-collapse: collapse;
}

.wdk-RecordTable td, .wdk-RecordTable th {
  padding: .5em;
  min-width: 100px;
}
.wdk-RecordTable td {
  border: 1px dotted #cccccc;
}

.wdk-RecordTable td {

}

.wdk-RecordTable-headerWrapper {
  position: relative;
}

.wdk-RecordTable th {
  border: 1px solid #cccccc;
  font-weight: bold;
  background-color: #f3f3f3;
  white-space: nowrap;
  text-align: left;
  cursor: pointer;
}

.wdk-RecordTable th .ui-icon {
  display: inline-block;
}

.wdk-RecordTable-attributeValue {
  line-height: 1.4;
}

.wdk-RecordTable-headerWrapper .ui-icon-close {
  visibility: hidden;
  cursor: pointer;
  float: right;
}

.wdk-RecordTable-headerWrapper:hover .ui-icon-close {
  visibility: visible;
}

.wdk-RecordTable-headerWrapper .ui-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: .5em;
}

.wdk-RecordTable-AttributeSelectorWrapper {
  float: right;
}

.wdk-Record h4 {
  text-decoration: underline;
}

.wdk-Record-attributes {
  padding: 0 1em;
}
