/* apply a natural box layout model to all elements, but allowing components to change */
/* See http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* Unfortunately, this does not play well with legacy WDK CSS
*, *:before, *:after {
  box-sizing: inherit;
}
*/

/*
body {
  font-family: sans-serif;
  font-size: 14px;
}
*/

main {
  position: relative;
  min-height: 200px;
}
main * {
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
}
main h1 {
  text-align: left;
  margin: 22px 0;
}
main h3 {
  margin: 22px 0 8px 0;
}
main h4 {
  margin: 10px 0 8px 0;
}

.wdkAnswerLoading {
  position: absolute;
  left: 50%;
}

.wdk-Loading {
  position: absolute;
  top: 2em;
  left: 50%;
}

.wdk-Answer-filter {
  position: relative;
  display: inline-block;
  margin-right: 1em;
}
.wdk-Answer-filterIcon {
  color: gray;
  position: relative;
  left: -20.5em;
}
.wdk-Answer-filterInput {
  padding: .5em;
  width: 30em;
  margin-right: 1em;
}
.wdk-Answer-filterSelectFieldsIcon {
  color: gray;
  position: absolute;
  right: 2.2em;
  cursor: pointer;
  padding: .7em;
  border: 2px solid transparent;
  background-color: transparent;
}
.wdk-Answer-filterSelectFieldsIcon:hover {
  color: black;
}
.wdk-Answer-filterFieldSelector {
  position: absolute;
  z-index: 2;
  background: white;
  width: 30em;
  padding: 0.6em;
  border: 1px solid #C3C3C3;
  box-shadow: 0px 1px 4px #c3c3c3;
}
.wdk-Answer-filterFieldSelectorCloseIcon {
  cursor: pointer;
  padding: .7em;
  border: 2px solid transparent;
  background-color: transparent;
}
.wdk-Answer-filterFieldSelectorCloseIconWrapper {
  position: absolute;
  right: 0;
  top: 0;
}
.wdk-Answer-filterInfoIcon {
  color: blue;
}
.wdk-Answer-filterButton {
  border: none;
  background: transparent;
  color: #5F0F47;
  vertical-align: middle;
  padding: 6px;
}
.wdk-Answer-count {
  display: inline-block;
  margin-left: 1em;
}

.wdk-AnswerTable-Wrapper {
  position: relative;
  overflow-x: auto;
  padding: 0 5px 5px 0;
}

.wdk-AnswerTable {
  margin-top: 1em;
}

.wdk-AnswerTable td, .wdk-AnswerTable th {
  padding: .5em;
  min-width: 100px;
}
.wdk-AnswerTable td {
  border: 1px dotted #cccccc;
}

.wdk-AnswerTable td {

}

.wdk-AnswerTable-header {
  display: inline-block;
}

.wdk-AnswerTable-headerWrapper {
  position: relative;
}

.wdk-AnswerTable-headerWrapper_sortable {
  cursor: pointer;
}

.wdk-AnswerTable th {
  border: 1px solid #cccccc;
  font-weight: bold;
  background-color: #f3f3f3;
  white-space: nowrap;
  text-align: left;
  cursor: pointer;
}

.wdk-AnswerTable th .ui-icon {
  display: inline-block;
}

.wdk-AnswerTable-AttributeSelectorOpenButton {
  position: absolute;
  right: 2em;
  top: 3em;
  font-size:1.2em; 
}
.wdk-AnswerTable-attributeValue {
  line-height: 1.6;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.wdk-AnswerTable-headerWrapper .ui-icon-close {
  /*visibility: hidden;*/
  cursor: pointer;
  float: right;
}

/*
.wdk-AnswerTable-headerWrapper:hover .ui-icon-close {
  visibility: visible;
}
*/

.wdk-AnswerTable-headerWrapper .ui-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: .5em;
}

.wdk-AnswerTable-headerWrapper .fa {
  margin-left: .5em;
}

.wdk-AnswerTable-unsorted {
  color: rgb(170, 170, 170);
  color: rgba(0, 0, 0, 0.26);
}

.wdk-AnswerTable-AttributeSelectorWrapper {
  float: right;
}

.wdk-AnswerTable-AttributeSelector {
  list-style: none;
}

.wdk-AnswerTable-AttributeSelectorButtonWrapper {
  text-align: center;
  padding: 4px;
}

.wdk-RecordList {
  position: relative;
  overflow: auto;
  background: #eaeaea;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.wdk-RecordList-Record {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.28);
  background: white;
  margin: 2em 1em;
  padding: .5em;
  word-wrap: break-word;
}

.wdk-Record {
  padding: 0 1em;
}

.wdk-RecordHeading,
.wdk-RecordActions,
.wdk-RecordActionItem {
  display: inline-block;
}

.wdk-RecordActionItem {
  padding: 0 1em;
}

.wdk-Record-main {
  margin-left: 260px;
}

.wdk-Record-main td {
  word-break: break-all;
}

.wdk-Record-sidebar {
  width: 235px;
  background-color: white;
  position: absolute;
}

.wdk-RecordNavigationSection {
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  margin-top: 1em;
}

.wdk-RecordNavigationSectionHeader {
  margin: 0;
  padding: .6em;
  background: #f2f2f2;
  border-radius: 4px;
}

.wdk-RecordNavigationItem {
  position: relative;
}

.wdk-Record-sidebar > ul {
  padding: 0;
  margin: 0;
}

.wdk-Record-sidebar-title {
  display: block;
  border-top: 1px solid #c0c0c0;
  padding: .6em;
  /*padding-left: 2.6em;*/
}

.wdk-Record-sidebar-checkbox {
  position: absolute;
  top: .6em;
  right: .6em;
}

.wdk-Record-section .wdk-Record-section {
  padding-left: 1em;
}

.wdk-Record-sectionHeader {
  /*background-color: #eeeeee;
  padding: .3em;*/
  margin: 8px 0;
  position: relative;
  border-bottom: 1px solid;
  cursor: pointer;
}

.wdk-Record-sectionSubHeader {
  margin: 12px 0 8px 0;
  position: relative;
  border-bottom: 1px dotted;
  cursor: pointer;
}

.wdk-Record-sectionHeaderTopLink {
  position: absolute;
  right: 1em;
  z-index: 1;
}

.wdk-Record-sectionContent {
  margin-bottom: 22px;
  padding: 0 1.2em;
  /* background-color: #fafafa; */
  /* border: 1px solid #e8e8e8;
  border-radius: 4px; */
}

.wdk-Record-attributeContent {
  word-break: break-all;
  display: inline-block;
}

.wdk-RecordAttributeTable tr {
  /*border-bottom: 1px dotted;*/
}

.wdk-RecordAttributeTable td:first-child {
  vertical-align: top;
  padding-left: 0;
  /* text-align: right;*/
}

.wdk-RecordTable {
  border: 1px solid #d8d8d8;
  background-color: #fdfdfd;
}

.wdk-RecordTableHeader {
  background-color: #eeeeee;
  padding: .3em;
  margin: 12px 0 8px 0;
  position: relative;
}

.wdk-RecordTable th {
  background-color: #f2f2f2;
  border: 1px solid #d8d8d8;
  font-size: 120%;
  padding: .6em;
}

.wdk-RecordTable td {
  border: 1px solid #d8d8d8;
}
