/* WDK filter related styles */

.filter-layout .layout-info > .handle {
    cursor: pointer;
    position:relative;
    top:6px;
}

.filter-layout .layout-detail {
    overflow-x:auto;
}

.filter-layout .layout-detail .description {
    color: #333333;
}

.filter-layout .layout-detail table {
    margin: 2px;
}

.filter-layout td { padding:0px; }

.filter-layout .layout-detail td, .filter-layout .layout-detail th {
    text-align: center;
    border: 1px solid black;
    font-weight: normal;
}

.layout-detail th {
    padding: 3px;
}

.filter-instance {
    text-align: center;
    vertical-align: middle;
    padding: 4px;
    margin: 0px;
}

.filter-instance, .filter-instance .current {
    height: 15px;
}

.filter-instance .current {
    background-color: #FFFFA0;
}

.filter-instance .link-url {
    padding: 2px;
}

.filter-instance .instance-detail {
    display: none;
    overflow: visible;
    position: absolute;
    border: 1px solid grey;
    background-color: #DEEEFF;
    padding: 3px;
    min-width: 200px;
    max-width: 600px;
}

.filter-instance .instance-detail .display {
    text-align: center;
    font-weight: bold;
    font-size: 10pt;
}

.filter-instance .instance-detail .description {
    font-size: 9pt;
}
