/* WDK filter related styles */

/* ==============================================
 *
 * This section is for the new filters.
 *
 * ============================================== */

.wdk-filters { margin:2px; }
.wdk-filters .filter-list { width:200px; background:#EEEEEE; }
.wdk-filters .filter-list .filter { border:0px; cursor:pointer; }
.wdk-filters .filter-list .filter.highlight { background:yellow; }
.wdk-filters .filter-list .filter .description { display:none; }
.wdk-filters .filter-detail { border-left:3px solid gray; }
.wdk-filters .filter-detail .description { background:#FEFEFE; padding:10px; }
.wdk-filters .filter-detail .filter-controls { text-align:center; padding:10px; background:#FEFEFE; }

.wdk-filters .filter .description { display:none; }
.wdk-filters .option { 
    display:inline-block; border:1px solid #999999; background:#EEEEEE; padding:5px; margin:2px; border-radius:3px; cursor:pointer;
}
.wdk-filters .option .remove { display:inline-block; } 
.wdk-filters .filter-summary { max-height:500px;}



/* ========================== styles for list column filter ============================ */
.wdk-filters .list-filter td { padding:1px 3px; }
.wdk-filters .list-filter .count-bar { height:10px; background:#CC3333; }
.wdk-filters .list-filter .count { text-align:right; font-weight:normal; }


/* ==============================================
 *
 * The section below is the style of older filters, and it maybe deprecated in the future.
 *
 * ============================================== */



.filter-layout .layout-info > .handle {
    cursor: pointer;
    position:relative;
    top:6px;
}
.filter-layout .layout-detail {
    overflow-x:scroll; 
    overflow-y:hidden;
}
.filter-layout .layout-detail .description {
    color: #333333;
}
.filter-layout .layout-detail table {
    margin: 2px;
}
.filter-layout .layout-detail td, .filter-layout .layout-detail th {
    text-align: center;
    border: 1px solid black;
    font-weight: normal;
}
.layout-detail th,.layout-detail td {
    padding: 3px;
    vertical-align: middle;
}
.vennFilter .filter-instance {
		padding:4px;
}
.filter-instance {
    padding: 1px; /* affects toxo venn diagrams */
    margin: 0px;
}
.filter-instance .current {
    background-color: #FFFFA0;
}
.filter-instance .instance-detail {
    display: none;
    overflow: visible;
    position: absolute;
    border: 1px solid grey;
    background-color: #DEEEFF;
    padding: 3px;
    min-width: 200px;
    max-width: 600px;
}
.filter-instance .instance-detail .display {
    text-align: center;
    font-weight: bold;
    font-size: 10pt;
}
.filter-instance .instance-detail .description {
    font-size: 9pt;
}
