/* -----------------------------------------------------------------------------
 * styles for WDK params
 * -------------------------------------------------------------------------- */




.param-group .group-title {
	text-align: center;
    	padding: 0 0 5px;
}

.param-group[type='ShowHide'] {
    background-color: #DEDEDE;
    border: 2px solid white;
}

.param-group .group-title {
    font-weight: bold;
}

.param-group[type='ShowHide'] .group-handle {
    cursor: pointer;
}

.param-group[type='ShowHide'] .group-detail {

}

.param-group td, .param-group th {
    padding: 3px;
}

/* css for the tree box enum param */
.param-group .term-children {
    display: none;
}

.wdk-record .primaryKey {
    display: none;
}

#favorites .favorite-note-button {
    text-align: right;
}

#favorites .favorite-group-button {
    text-align: right;
}
