button.btn {
  @include transition;
  padding: 8px 20px;
  font-size: 1em;
  line-height: 1em;
  color: #333;
  background: #e6e6e7;
  border: 1px solid rgba(0,0,0,0.2);

  &:hover {
    background-color: #e4e4e4;
    transform: scale(0.98);
    -webkit-transform: scale(0.95);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }

  .fa {
    margin-right: 10px;
    font-size: 1.2em;
  }

  &.btn-error {
    &:hover {
      background-color: $red;
      color: $white;
    }
  }
  &.btn-info {
    &:hover {
      background-color: $blue;
      color: $white;
    }
  }
  &.btn-success {
    :hover {
      background-color: $green;
      color: $white;
    }
  }
  &.btn-hazard {
    &:hover {
      background-color: $orange;
      color: $white;
    }
  }
  &.btn-warning {
    &:hover { @include buttonStyle($gold); }
    text-shadow: 0px 0px 5px darken($gold, 25%);
  }
}
