.wdk-DateRangeSelector {
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  padding: 10px;
  border-radius: 5px;
  border: 1px solid transparent;

  label {
    padding: 5px;
    display: inline-block;
    font-size: 0.9em;
    line-height: 0.9em;
    font-weight: bold;
    opacity: 0.5;
  }
  .label-column {
    margin: 5px 0 12px;
    .label-cell:first-of-type {
      margin-bottom: 6px;
    }
  }
}
