.Mesa {
  .TableController {
    margin-bottom: 40px;
  }
  .Modal-Body {
    padding: 10px;
  }
  .Table-Search {
    input {
      padding: 0px 10px;
    }
  }
  .TableToolbar-Info {
    font-size: 100%;
  }
  .SelectionCell, .EmptyState h2 {
    text-align: center;
  }
  .ActionToolbar-Info {
    font-size: 100%;
  }
}
