PROTEIN_ID_URL=http://www.ncbi.nlm.nih.gov/entrez/viewer.fcgi?val=\\$\\$protein_id\\$\\$

NRDB_ID_URL=http://www.ncbi.nlm.nih.gov/entrez/viewer.fcgi?val=\\$\\$secondary_identifier\\$\\$

GBROWSE_BASE_URL=http://dev3.plasmodb.org

CGI_URL=http://dev3.plasmodb.org/cgi-bin

PUBLICATIONS_URL=http://v4-4.plasmodb.org/publications/publications-v5.php?uid=28&gid=

WEBAPP_NAME=plasmodb-dev

LOGIN_SCHEMA=logins.

COMMENT_SCHEMA=comments.

LOGIN_DBLINK=

COMMENT_DBLINK=

