.DataTable {
  font-size: $fontSize;

  .DataTable-Sticky {
    overflow: auto;

    .DataTable-Header, .DataTable-Body {
      position: absolute;
      overflow: auto;
      table { table-layout: fixed; }
    }
    .DataTable-Body {
      display: block;
      // overflow-y: auto;
    }
    .DataTable-Header {}
  }
}
