.DataTable {
  font-size: $fontSize;
  width: 100%;

  table {
    width: 100%;
  }

  .DataTable-Sticky {
    display: block;
    overflow: visible;
    position: relative;


    .DataTable-Header, .DataTable-Body {
      overflow: visible;
      overflow-y: auto;
      // table { table-layout: fixed; }
    }
    .DataTable-Body {

    }
    .DataTable-Header {
      overflow: hidden;
    }
  }
}
