{
  "presets": [
    "react",
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["last 2 versions", "ie >= 11"]
      }
    }]
  ],
  "plugins": ["syntax-dynamic-import"],

  "env": {
    "test": {
      "presets": [
        ["env", {
          "modules": "commonjs",
          "targets": {
            "node": "current"
          }
        }]
      ]
    }
  }

}
