.wdk-DateRangeSelector {
  display: inline-flex;
  flex-direction: column;
  div.control-row {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;

    label {
      flex: 0 0 auto;
      padding: 5px;
      min-width: 35px;
      text-align: right;
      align-self: center;
      font-size: 0.9em;
      text-transform: uppercase;
      font-weight: bold;
      opacity: 0.5;
    }
    .wdk-DateSelector {
      flex: 0 0 auto;
      padding: 3px;
      align-self: center;
    }
  }
}
